.App {
  text-align: center;
}
.container{
  max-width: 850px;
  background-color: rgba(210, 232, 230, 0.788);
  border-radius: 10px;
}

.App-header {
  background-color: #282c34;
  margin: 5px 0;
  align-items: center;
  font-size: 40px;
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-footer{
  text-align:center;
  margin: 10px;
}
